*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
}
h2,
h3 {
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
}
a,
body {
    color: #231f20;
    overflow-x: hidden;
}
h1,
li {
    border: 1px pink;
    margin-bottom: 0.6rem;
}

ol{
    width:90%;
    letter-spacing: 0.05rem;
    line-height: 1.7rem;
}
html {
    overflow-y: scroll;
}
body {
    margin: 0;
    font-family: Roboto, sans-serif;
}
.titleProject,
h2 {
    font-family: helveticaNeueReg;
}
p {
    margin: 0 0 2.5rem;
}
.ptitle{
   margin: 0 0 1.5rem; 
}
section {
    margin: 2.5rem;
}
@font-face {
    font-family: helveticaNeueReg;
    src: url(HelveticaNeue-Regular.otf);
}
@font-face {
    font-family: helveticaNeueLight;
    src: url(HelveticaNeue-Light.otf);
}
@font-face {
    font-family: helveticaNeueItal;
    src: url(HelveticaNeue-RegularItalic.otf);
}
@font-face {
    font-family: helveticaNeueBold;
    src: url(HelveticaNeue-Bold.otf);
}
.alternate-h1,
p,
ul {
    max-width: 40rem;
}
.project-component,
.within-content-double-shadow,
.within-content-shadow {
    box-shadow: 1px 3px 10px #c1c1c0;
}
.double-paragraph,
p,
ul {
    letter-spacing: 0.05rem;
    line-height: 1.7rem;
    max-width: 40rem;
}
.backchange {
    background-color: #fff;
}
.indexMenuItem {
    padding-left: 2.5rem;
    border-bottom: 1px solid #000;
}
.titleProject {
    font-size: 2rem;
    text-decoration: none;
}
.indexMenuItemEnd {
    padding: 3rem;
}
.index2h1 {
    width: 85.678%;
    font-size: 4.25rem;
}
.index2h12 {
    font-size: 4.25rem;
}
.itemgrid {
    padding-top: 2.5rem;
    display: grid;
    grid-template-columns: 0.25fr 1.5fr;
    transition: all .3s ease;
    position:relative;
    vertical-align: top;
}
.aboutcol1{
    border: 1px solid white;
}


.aboutfooter-grid {
    text-align: right;
    margin: 1rem;
    padding-left: 2rem;
}

.col1 p{
width:320px;
}

.col2{
    /*font-size: 3px;*/
    /*border:1px solid black;*/
}

.annotate{
    /*margin-left:1rem;*/
    color:#828382;
    font-size:1rem;
    /*border:1px solid black;*/
}

.itemgrid:hover{
    transform:translateX(25px);
}
.sub-content-group {
    padding-bottom: 1rem;
}
h1 {
    margin-left: 0;
}
h2 {
    font-size: 1.2rem;
}
.nav-item,
h3 {
    font-size: 1rem;
}
h3 {
    font-family: helveticaNeueItal;
    font-weight: 400;
}



a:not(.info1) {
    -webkit-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}
a:active,
a:focus,
a:hover {
    cursor: crosshair;
}
.announcement{
    padding-top: 10px;
    padding-bottom: 10px;
    position:sticky;
    background-color: yellow;
    /*font-size:1rem;*/
    top:0;
}


.alternate {
    background-color: #231f20;
}
.double-paragraph {
    margin-bottom: 1.2rem;
}
.footernav-item,
.nav-item {
    font-family: helveticaNeueReg;
    font-weight: 400;

    letter-spacing: 0.1rem;
}
.nav-item:hover{
color: #c1c1c0;
}
ul {
    padding: 0;
    list-style-type: none;
}
em {
    font-weight: 700;
    font-style: normal;
}
.header-nav {
    text-align: right;
    margin: 1rem;
    padding-left: 2rem;
}
.footer-nav {
    margin: 1rem;
    float: right;
}
.about-link,
.about-paragraph {
    margin-left: 0;
    color: #fff;
}
.nav-item {
    margin-right: 1rem;
    text-decoration: none;
}
.footer-grid a,
.footernav-item {
    font-size: 1.25rem;
    text-decoration: none;
}
.footer-grid {
    display: grid;
    grid-template-columns: 1fr 0.75fr;
}
.footer-col1 {
    text-align: left;
}
.footer-col2,
.rightset {
    text-align: right;
}
.footernav-item {
    margin-right: 1rem;
}
.about-link,
.nav-item-alt,
.nav-item-bottom-margin {
    font-weight: 400;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    margin-right: 1rem;
}
.nav-item-bottom-margin {
    font-family: "Roboto Mono", monospace;
    margin-bottom: 4rem;
    display: block;
}
.about-link,
.intronew,
.nav-item-alt {
    font-family: helveticaNeueReg;
}
.nav-item-alt {
    color: #fff;
}
.nav-item-alt:hover{
        color: #231f20;
}
.alternate-h1 {
    color: #fff;
}
.photography-grid {
    padding-left: 2.5rem;
}
.photography-grid-item,
.photography-grid-sizer {
    width: 33%;
    border: 1px solid #000;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5rem;
}
.grid-about {
    display: grid;
    grid-template-columns: 1.45fr 0.55fr;
}
.grid-wrapper {
    display: flexbox;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
}
.grid-item img {
    padding: 0.5rem;
    display: block;
    vertical-align: middle;
    max-width: 100%;
}
.column {
    flex: 33%;
    max-width: 33%;
    padding: 0.5rem;
}
.gridmason-alpha {
    display: none;
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 300%;
    opacity: 0.9;
    top: 0;
    left: 0;
    text-align: center;
}

.gridmason-alpha:hover {
    cursor: zoom-out;
}
.grid-item.item-opened {
    width: 90%;
    height: 90vw;
    filter: brightness(100%);
}

.gallery-row{
    display:flex;
    flex-wrap:wrap;
    padding:0 4px;
}
.gallery-column{
    flex:33%;
    max-width:33%;
    padding:0 4px;    
}

.gallery-column img{
    margin-top:8px;
    vertical-align: middle;
    width:100%;
}
.about-paragraph {
    max-width: 32rem;
    margin-top: 2rem;
}
.project-title {
    margin-bottom: 1.5rem;
}
.project-subtitle {
    margin-top: 0.5rem;
}
.intronew {
    max-width: 100%;
}
.aboutlinkmail {
    color: #fff;
    text-decoration: underline;
}
.main-section {
    margin: 0rem 2rem 5rem;
}
.viz-content{
    margin:0rem;
}
.full-bleed {
    width: 100%;
    height: 20%;
    margin-top:1rem; 
    margin-bottom:2rem;
    margin-left:0rem; 
    margin-right:2rem;
}
.full-screenimage{
    cursor:url('../img/plus_cursor.png')25 25,auto;
}
.detail-intro {
    font-size: 1.3rem;
    line-height: 2.2rem;
    max-width: 42rem;
}
.problem-scope {
    margin-bottom: 1rem;
    font-family: helveticaNeueItal;
    font-size: 1rem;
}
.within-content,
.within-content-shadow {
    width: 100%;
    height: 100%;
    margin-bottom: 6rem;
}
.main-content {
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
}

.nsfw{
    filter:blur(0px);
}
.spoiler{
    overflow:hidden;
    position:relative;
    margin:0;
    padding:0;
}
.spoiler img{
vertical-align: bottom;
filter:blur(10px) grayscale(99.99999%);
transition:0.3s;
}
.spoiler-button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3rem;
    line-height: 3rem;
    width: 50%;
    padding: 0 1rem;
    font-size: 1rem;
    margin: auto;
    background-color: transparent;
    border:none;
    text-decoration: underline;
    color: #FFF;
    text-align: center;
    cursor: pointer;
}
.nospoiler img{
    filter:none;
}
.nospoiler button{
    display:none;
}

.main-content-svg {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
}

.main-content-gallery {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
.within-content-double,
.within-content-double-shadow {
    margin-bottom: .75rem;
    width: 100%;
    height: 100%;
}
.legend_sticky{
    height: auto;
    width:30%;
    position:relative;
    z-index: 9;
}
.svg-wrapper{ 
    display:grid;
    grid-template-columns:1.50fr .50fr;
    grid-gap:.5REM;
}
.expansive{
    width:75%;
}
.svg-col1{
    width:100%;
    height:700PX;
}
.svg-col2{

}

.legend-small{
height:300px;
}
.tablinks{
    font-family: helveticaNeueReg;
    font-size: 1.5rem;
    margin-left:2rem;
    background-color: transparent;
    /*border:1px solid black;*/
    /*text-decoration: underline;*/
    color: #000000;
    text-align: center;
    cursor: pointer;
}
.videocontainer{
    /*border:1px solid black;*/
    margin-bottom:2.5rem;
}
@media screen and (max-width: 95.62rem) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1rem;
    }
    .column {
        flex: 50%;
        max-width: 50%;
        padding: 0.5rem;
    }
}
@media screen and(max-width:50.25rem) {
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
    }
        .gallery-column{
        flex:100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 46.25rem) {
    .main-content {
        padding-left: 1rem;
    }
    .grid-about {
        display: grid;
        grid-template-columns: 1fr;
    }
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
    }
    .col2 {
        display: none;
    }
    .gallery-column{
        flex:100%;
        max-width:100%;
    }
}
@media screen and (max-width: 32rem) {
    section {
        margin: 2rem;
    }
    .grid {
        grid-template-columns: 1fr;
        max-width: 100%;
    }
    .gallery-column{
        flex:100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 26.7rem) {
    
    ol{
        width:75%;
    }
    .grid,
    .itemgrid,.svg-wrapper {
        grid-template-columns: 1fr;
    }
    .column,
    .grid {
        max-width: 100%;
    }
    section {
        margin: 2rem;
    }
    .index2h1 {
        font-size: 2rem;
    }
    .itemgrid {
        padding-top: 2.5rem;
        display: grid;
    }
    .indexMenuItem {
        padding-left: 2rem;
    }
    .col2 {
        display: hidden;
    }
    .main-content {
        padding-left: 1rem;
        padding-right: 1.5rem;
    }
    .column {
        flex: 100%;
        padding: 0.5rem;
    }
    .project-title {
        margin-left: 0;
    }
    .about-link,
    .about-paragraph,
    h1 {
        margin-left: 1rem;
    }
    p {
        margin-bottom: 4rem;
    }
    .project-component {
        margin: 1rem;
        width: 90%;
        color: #231f20;
        background-color: #fff;
    }
    .about-link {
        margin-right: 0;
    }

    .detail-intro{
        margin:.5rem;
    }
    .main-section{

    }

}
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-top: 2rem;
    margin-bottom: 6rem;
}
.embed-container embed,
.embed-container iframe,
.embed-container object {
    border-style: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
