*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
     /* border: 1px solid purple;  */
}
h2,
h3 {
    /* letter-spacing: 0.1rem;
    */ 
    margin-bottom: 1rem; 
}
a,
body {
    color: #231f20;
    overflow-x: hidden;
}
br{
    border: 1px solid blue;
    margin-bottom: 100px;
}
blockquote{
    margin:2.5rem;
    font-size:2rem;
}
h1,
li {
    border: 1px pink;
    margin-bottom: 0.6rem;
}

ol{
    line-height: 1.7rem;
    width:90%;
    /* width:90%;
    letter-spacing: 0.05rem;
    line-height: 1.7rem; */
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

@font-face {
    font-family: helveticaNeueReg;
    src: url(HelveticaNeue-Regular.otf);
}
@font-face {
    font-family: helveticaNeueLight;
    src: url(HelveticaNeue-Light.otf);
}
@font-face {
    font-family: helveticaNeueItal;
    src: url(HelveticaNeue-RegularItalic.otf);
}
@font-face {
    font-family: helveticaNeueBold;
    src: url(HelveticaNeue-Bold.otf);
}
@font-face{
    font-family:PPEditorialRegular;
    src: url(PPEditorialNew-Ultralight.otf);
}
@font-face{
    font-family:PPEditorialItalic;
    src: url(PPEditorialNew-Italic.otf);
}
@font-face{
    font-family: PPEditorialUltra;
    src: url(PPEditorialNew-Ultrabold.otf);
}
html{
   scroll-behavior: smooth; 
}

.titleProject,
h2 {
    font-family: helveticaNeueReg;
}
p {
    margin: 0 0 2.0rem;
}

.p1image{
    /* text-align: end; */
    /* border: 1px solid black; */
    padding-top: 1rem;
    /* font-size: 1.4rem; */
    line-height: 1.7rem;
    max-width: 35rem;
    /* color:pink; */
}

.ptitle{
   margin: 0 0 1.5rem; 
}
section {
    margin: 2.5rem;
}

.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    border-radius: 100px;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    font-size: 17px;
    z-index: 9999;
    transition: opacity 0.5s ease, visibility 0.88s ease;
  }
  
  .toast.show {
    visibility: visible;
    opacity: 1;
    
  }

.constructions{
    height:1.5rem;
}



.alternate-h1,
p,
ul {
    max-width: 40rem;
}
.project-component,
.within-content-double-shadow,
.within-content-shadow {
    box-shadow: 1px 3px 10px #c1c1c0;
}
.double-paragraph,
p,
ul {
    line-height: 1.7rem;
    max-width: 40rem;
    /* letter-spacing: 0.05rem;
    max-width: 40rem; */
}
.backchange {
    background-color:#fff;
}
.indexMenuItemStart {
    padding: .5rem;
}
.indexMenuItem {
    padding-left: 2.5rem;
    border-bottom: 1px solid #000;
}
.titleProject {
    font-size: 2rem;
    text-decoration: none;
}

.title {
    position: absolute; /* must have this */
    background: #fff;
        background: rgba(255,255,255,);
        color: black;
        font: normal 2rem sans-serif;
        padding: 1rem;
        border-radius: 10px;
    white-space: nowrap;
    z-index: 5;
}

.indexMenuItemEnd {
    padding: 3rem;
}
.index2h1 {
    font-family: PPEditorialRegular;
    /* width: 85.678%; */
    /* text-align: center; */
    font-size: 4.25rem;
    /* filter: blur(.17px); */
    font-variant-ligatures: historical-ligatures;
}
.index2h12 {
    font-size: 4.25rem;
    
}

/* .iX{
    filter: blur(5px) url(#filter) ;
}

.iX:hover{
    filter: blur(0px) url(#filter2);
    transition: cubic-bezier(.17,.67,.83,.67);
} */
.itemgrid {
    padding-top: 2.5rem;
    display: grid;
    grid-template-columns: 0.25fr 1.5fr;
    transition: all .3s ease;
    position:relative;
    vertical-align: top;
}

.aboutfooter-grid {
    text-align: right;
    margin: 1rem;
    padding-left: 2rem;
}

.col1 p{
width:320px;
}


.annotate{
    /*margin-left:1rem;*/
    color:#828382;
    font-size:1rem;
    /*border:1px solid black;*/
}

.itemgrid:hover{
    transform:translateX(25px);
}

.p-wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    margin-bottom: 1.5rem;
}
.sub-content-group {
    display:grid;
    padding-top: .8rem;
    /* padding-left: .5rem; */
    grid-template-columns:1fr 1fr;
    column-gap: .75rem;
}
.sub-content-item2{
    font-size:1rem 
}
.stickynav{
    position: sticky;
    top:0;
    padding: 1.5rem;
    max-width: 100%;
    backdrop-filter: blur(5px);
    /* border: 1px solid blue; */
    background-color: rgba(255,255,255,0.35);
    margin-left: auto;
    margin-right: auto;
    /* background-color: yellow; */
}
.t-menu{
    text-align: center;
    font-size: 1.3rem;
    padding: .5rem;
    height:2rem;
}
.t-menu a{
    text-align: center;
    margin: 1rem;
    /* padding-right: 6rem; */
    height:20px;
    /* border: 1px solid blue; */
    /* color: green; */
}
.t-menu a:hover{
    color: rgba(0,0,0,.25);
    transition:  .3s ease;
}
h1 {
    margin-left: 0;
    line-height: 100%;
}
h2 {
    font-size: 1.5rem;
}
.nav-item,
h3 {
    font-family: helveticaNeueLight;
    font-size: 1rem;
}
h3 {
    font-family: helveticaNeueItal;
    font-weight: 400;
}

h4{
    font-family: helveticaNeueLight;
    font-size: 1rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid black;
}

sub{
    font-size:.3rem;
    padding: .5rem;
}
a:not(.info1) {
    -webkit-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}
a:active,
a:focus,
a:hover {
    cursor: crosshair;
}
.announcement{
    padding-top: 10px;
    padding-bottom: 10px;
    position:sticky;
    background-color: yellow;
    /*font-size:1rem;*/
    top:0;
}

.about-paragraph {
    font-size: 2rem;
    line-height: 2.6rem;
    max-width: 45rem;
    margin-top: 2rem;
}

.alternate {
    background-color: #231f20;
}
.double-paragraph {
    margin-bottom: 1.2rem;
}
.footernav-item,
.nav-item {
    font-family: helveticaNeueReg;
    font-weight: 400;

    letter-spacing: 0.1rem;
}

.notes{
    /* border: 1px solid green; */
    /* text-align: right; */
}

.super1,.super2,.super3,.super4,.super5{
    color:#828382;
}

.ac1:hover + .super1{
    color:greenyellow;
    font-size: 40rem;
    background-color: purple;
}

.footernotes sub{
    /* margin-right: 1.5rem; */
    font-size: 1.5rem;
    font-family: PPEditorialRegular;
}

.nav-item:hover{
color: #c1c1c0;
}
ul {
    padding: 0;
    list-style-type: none;
}
em {
    font-weight: 700;
    font-style: normal;
}
.header-nav {
    font-family: helveticaNeueReg;
    text-align: right;
    margin: 1rem;
    padding-left: 2rem;
}
.header-proj:hover{
    opacity: 60%;
    transition: 0.2s ease-out;
     -webkit-transition:0.2s ease-out;

}
.footer-nav {
    margin: 1rem;
    float: right;
}

.about-email{
    color: #fff;
}
.about-link,
.about-paragraph {
    margin-left: 0;
    color: #fff;
}
.nav-item {
    margin-right: 1rem;
    text-decoration: none;
}
.footer-grid a,
.footernav-item {

    font-size: 1.25rem;
    text-decoration: none;
}
.footer-grid {
    display: grid;
    grid-template-columns: 1fr 0.75fr;
}
.footer-col1 {
    text-align: left;
}
.footer-col1:hover{
transform:translateX(-25px);
transition:  .3s ease;

}
.footer-col2,
.rightset {
    text-align: right;

}
.footer-col2:hover{
    transform:translateX(25px);
    transition:  .3s ease;
}
.footernav-item {
    margin-right: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5rem;
}
.grid-about {
    display: grid;
    grid-template-columns: 1.45fr 0.55fr;
}
.grid-wrapper {
    display: flexbox;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
}
.grid-item img {
    padding: 0.5rem;
    display: block;
    /* vertical-align: middle; */
    max-width: 100%;
}

.imgwrapper{
    display:grid;
    grid-template-columns: 1.25fr 1fr;
    grid-gap: 2.0rem;
    /* border: 1px solid black; */
}


.sidewrapper{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.0rem;
    /* border: 1px solid black; */
}

.col1wrapper img{
    object-fit:contain
    border 1px solid black;
}

.column {
    flex: 33%;
    max-width: 33%;
    padding: 0.5rem;
}
.gridmason-alpha {
    display: none;
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 300%;
    opacity: 0.9;
    top: 0;
    left: 0;
    text-align: center;
}

.gridmason-alpha:hover {
    cursor: zoom-out;
}
.grid-item.item-opened {
    width: 90%;
    height: 90vw;
    filter: brightness(100%);
}

.gallery-row{
    display:flex;
    flex-wrap:wrap;
    padding:0 4px;
}
.gallery-column{
    flex:33%;
    max-width:33%;
    padding:0 4px;    
}

.gallery-column img{
    margin-top:8px;
    vertical-align: middle;
    width:100%;
}
.gallery-column div{
    margin-top:8px;
    vertical-align: middle;
    width:100%;
}



.about-link,
.nav-item-alt,
.nav-item-bottom-margin {
    font-weight: 400;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    margin-right: 1rem;
}
.nav-item-bottom-margin {
    font-family: "Roboto Mono", monospace;
    margin-bottom: 4rem;
    display: block;
}
.about-link,
.intronew,
.nav-item-alt {
    font-family: helveticaNeueReg;
}


.nav-item-alt {
    color: #fff;
}
.nav-item-alt:hover{
        color: #231f20;
}

.notation-wrapper{
    padding-top: 2rem;
    display: grid;
    /* background: pink; */
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5rem;

}

.headerpicture{
    /*border: 1px solid black;*/
    height:46rem;
    background-size: cover;
}

.headerpicture img{
    height:100%;
    width:100%;
    object-fit: cover;
}
.alternate-h1 {
    color: #fff;
}
.photography-grid {
    padding-left: 2.5rem;
}
.photography-grid-item,
.photography-grid-sizer {
    width: 33%;
    border: 1px solid #000;
}


/*this is not alphabetized for easier testing currently*/
/* Styling for the hover words (optional) */
.hover-word {
    /*text-decoration: underline;*/
    font-style: italic;
    cursor: crosshair;
}

.word{
        font-style: italic;
    cursor: crosshair;
}

/* The images will be positioned absolutely, so they follow the mouse */
.mouse-image {
    z-index:50;
    position: absolute;
    pointer-events: none;
    display: none;
    width:auto;
    height:auto;
    transform:scale(.33);
    transform-origin: top left;
}
/*end here*/
/*Testing Slide Show Math APPROACH*/
/*KEEP FOR PARITY*/
/*        .word-container {
            position: relative;
            display: inline-block;
            font-size: 40px;
        }*/
        .hover-word {
            position: relative;
            z-index: 1;
            display: inline-block;
        }
        .hover-image {
            z-index:50;
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
            display: none;
            width: auto;    /* Maintain aspect ratio */
            height: auto;   /* Maintain aspect ratio */
            transform: scale(0.77);
            transform-origin: top left;
            }


/*ends here*/

.notes-grid a,
.notesnav-item {
    
    font-size: 1.25rem;
    text-decoration: none;
}
.notes-grid {
    /* border: 1px solid black; */
    display: grid;
    width:100%;
    grid-template-columns: 2fr;
}
.notes-col1 {
    /* border: 1px solid black; */
    text-align: left;
}

.notes-col2,
.rightset {
    /* border: 1px solid black; */
    text-align: right;
    /* text-align-last: right; */

}

.notesnav-item {
    margin-right: 1rem;
}
.project-title {
    font-family:  helveticaNeueReg;
    font-size: 4.5rem;
    margin-bottom: 2.5rem;
}
.project-subtitle {
    margin-top: 0.5rem;
}
.intronew {
    max-width: 85%;
}
.aboutlinkmail {
    color: #fff;
    text-decoration: underline;
}
.main-section {
    margin: 0rem 2rem 5rem;
    border: 1px solid black;
}

.p-intro{
    max-width: 92rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
.viz-content{
    margin:0rem;
}
.full-bleed {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    margin-top:1rem; 
    margin-bottom:2rem;
    margin-left:0rem; 
    margin-right:2rem;
}
.full-screenimage{
    cursor:url('../img/plus_cursor.png')25 25,auto;
}

.ftext{
    /* border: 1px solid black; */
    padding-top: 2.5rem;
    /* color:purple; */
}

.detail-intro {
    padding-top: .7rem;
    font-style:italic;
    font-size: 1.2rem;
    line-height: 2.0rem;
    max-width: 42rem;
}
.problem-scope {
    margin-bottom: 1rem;
    font-family: helveticaNeueItal;
    font-size: 1rem;
}
.process-container{
    display:grid;
    grid-template-columns:1fr;
}
.process-wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 1rem;
}
.pstatement{
    /*border: solid black 1px;*/
    font-family: helveticaNeueReg;
    font-weight: 400;
    font-size:1.6rem;
    line-height: 2.2rem;
    max-width: 42rem;
    margin:2rem;
    padding-bottom: 2rem;
    /*add breakpoints for smallest screen + medium*/
}

.within-content,
.within-content-shadow {
    width: 100%;
    height: 100%;
    margin-bottom: 6rem;
}
.about-content{
    /* border:1px solid white; */
    margin: 2rem;
    line-height: 6rem;
    max-width: 100rem;

}
.main-content {
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
}
.main-content-flavour {
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
}
.secondary-content {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}
.image-content{
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}
.image-content-hero{
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
}
.footer-content{
    padding-top: 6.5rem;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

.main-content-svg {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
}

.main-content-gallery {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
.within-content-double,
.within-content-double-shadow {
    margin-bottom: .75rem;
    width: 100%;
    height: 100%;
}
.legend_sticky{
    height: auto;
    width:30%;
    position:relative;
    z-index: 9;
}
.svg-wrapper{ 
    display:grid;
    grid-template-columns:1.50fr .50fr;
    grid-gap:.5REM;
}
.expansive{
    width:75%;
}
.svg-col1{
    width:100%;
    height:700PX;
}

.legend-small{
height:300px;
}

.tablinks{
    font-family: helveticaNeueReg;
    font-size: 1.125rem;
    margin-right:4rem;
    background-color: transparent;
    border:0px solid black;
    /*text-decoration: underline;*/
    color: #000000;
    text-align: center;
    cursor: pointer;
}
.videocontainer{
    /*border:1px solid black;*/
    margin-bottom:2.5rem;
}

@media screen and (max-width: 95.62rem) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1rem;
    }
    .column {
        flex: 50%;
        max-width: 50%;
        padding: 0.5rem;
    }
}

@media screen and (max-width: 91rem) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1rem;
    }
    .column {
        flex: 50%;
        max-width: 50%;
        padding: 0.5rem;
    }
    .p-intro{
    margin-left: 2rem ;
    }
    .p-wrapper{
        /* color:blue; */
        grid-template-columns:1fr 1fr;
        grid-column-gap:1.5rem;
        /* margin-left: 2rem ; */
    }

    .notation-wrapper{
/* hacky way to prevent the notations section from hitting the horiz. limit */
        margin-left:2rem;
        /* margin-left: 2rem ; */
    }

}

@media screen and (max-width:76.5rem){
    
}

@media screen and (max-width:63rem){
    .sidewrapper,.imgwrapper{
        grid-template-columns: 1fr;
    }
    .p1image{
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
    }
    .p-intro{
        margin-left: 2rem ;
        }
        .p-wrapper{
            /* color:blue; */
            grid-template-columns:1fr;
            /* margin-left: 2rem ; */
        }
    .notation-wrapper{
            /* color:blue; */
            grid-template-columns:1fr;
            /* color:blueviolet; */
            margin-left:1.5rem;
            /* margin-left: 2rem ; */
        }
}

@media screen and(max-width:50.25rem) {
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
    }
 
        .gallery-column{
        flex:100%;
        max-width: 100%;
    }
}

@media screen and (max-width:50rem){
    .t-menu{
        /* color:aquamarine; */
        font-size: .8rem;
    }
}
@media screen and (max-width: 46.25rem) {
    .main-content {
        padding-left: 1rem;
    }
    .grid-about {
        display: grid;
        grid-template-columns: 1fr;
    }
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
    }
    .col2 {
        display: none;
    }
    .gallery-column{
        flex:100%;
        max-width:100%;
    }
}
@media screen and (max-width: 32rem) {
    section {
        margin: 2rem;
    }
    .grid {
        grid-template-columns: 1fr;
        max-width: 100%;
    }
    .gallery-column{
        flex:100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 26.7rem) {
    .stickynav{
        display:none;
    }
    sub{
        font-size: .1rem;
    }
    
    ol{
        width:75%;
    }
    .grid,
    .itemgrid,.svg-wrapper {
        grid-template-columns: 1fr;
    }
    .column,
    .grid {
        max-width: 100%;
    }
    section {
        margin: 2rem;
    }

    
    .index2h1 {
        font-size: 3.2rem;
    }
    .itemgrid {
        padding-top: 2.5rem;
        display: grid;
    }
    .indexMenuItem {
        padding-left: 2rem;
    }
    .col2 {
        display: hidden;
    }
    .main-content {
        padding-left: 1rem;
        padding-right: 1.5rem;
    }
    .column {
        flex: 100%;
        padding: 0.5rem;
    }
    .project-title {
        margin-left: 0;
        font-size: 2rem;
    }
    .about-link,
    .about-paragraph,
    h1 {
        margin-left: 1rem;
    }
    p {
        margin-bottom: 4rem;
    }
    .project-component {
        margin: 1rem;
        width: 90%;
        color: #231f20;
        background-color: #fff;
    }
    .about-link {
        margin-right: 0;
    }

    .detail-intro{
        margin:.5rem;
    }

    .pstatement{
        margin:1.5rem;
    }

    .p-hero{
        margin-bottom: 1rem;
    }
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-top: 2rem;
    margin-bottom: 6rem;
}
.embed-container embed,
.embed-container iframe,
.embed-container object {
    border-style: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
}