/*reformat as SASS by tommorow*/
/*some of this stuff is frozen because it has to be done for iat339*/

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

@font-face{
    font-family:helveticaNeueReg;
    src:url(HelveticaNeue-Regular.otf);
}

@font-face{
    font-family:helveticaNeueLight;
    src:url(HelveticaNeue-Light.otf);
}

@font-face{
    font-family:helveticaNeueItal;
    src:url(HelveticaNeue-RegularItalic.otf);
}

@font-face{
    font-family:helveticaNeueBold;
    src:url(HelveticaNeue-Bold.otf);
}

html {
    overflow-y: scroll;
}
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #231f20;
}

p{
    margin: 0;
}

section {
    margin: 2.5rem;
}


/**/
/*New Index2 Workspace*/
/*.newindexmenu{
    padding-left: .5rem;
}*/

.backchange{
    background-color: white;
}


.indexMenuItem{
    padding-left: 2.5rem;
    border-bottom:1px solid black;
}
 
.titleProject{
    font-size: 2rem;
    font-family: helveticaNeueReg;
    text-decoration: none;
}
.indexMenuItemEnd{
    padding:3rem;
}

.index2h1{
    font-size: 5rem;
}

.itemgrid{
    padding-top: 2.5rem;
    display:grid;
    grid-template-columns:.30fr 1.50fr; 

}

.col1{
/*border: 1px solid black;*/
}
.col2{
display:none;
opacity: 0;
transition: opacity 300ms ease-in-out;
}
.col1:hover+.col2{
    display:block;
    color: #231f20;
    opacity:1;
}
/*End Index2*/
/*Portfolio showcase pages */
.sub-content-group{
    padding-bottom: 1rem;
}

/*End Portfolio Template Pages*/
/*User Settings Migrate to SASS*/
h1 {
    margin-bottom: .5rem;
    margin-left: 0;
}
h2 {
    font-family:helveticaNeueReg;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
h3 {
    font-family:helveticaNeueItal;
    font-weight: 400;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}
a {
    color: #231f20;
    -webkit-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}
a:hover,
a:active,
a:focus {
    color: #c1c1c0;
    cursor: crosshair;
}

.alternate{
background-color: #231f20;

}

p {
    letter-spacing: 0.05rem;
    line-height: 1.7rem;
    max-width: 40rem;
    margin-bottom: 2.5rem;
}
.double-paragraph {
    letter-spacing: 0.05rem;
    line-height: 1.7rem;
    max-width: 40rem;
    margin-bottom: 1.2rem;
}
ul {
    padding: 0;
    list-style-type: none;
    letter-spacing: 0.05rem;
    line-height: 1.7rem;
    max-width: 40rem;
}
li {
    margin-bottom: 0.5rem;
}
em {
    font-weight: 700;
    font-style: normal;
}
.header-nav {
    text-align: right;
    margin: 1rem;
    padding-left: 2rem;
}
.footer-nav {
    margin: 1rem;
    float: right;
}
.nav-item {
    font-family: helveticaNeueReg;
    font-weight: 400;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    margin-right: 1rem;
    text-decoration: none;
}

.footerproject{
    /*border:1px solid black;*/
    /*text-align: right;*/
}

.footer-grid{
    /*border:1px solid black;*/
    display:grid;
    grid-template-columns: 1fr .75fr;
}

.footer-grid a{
    text-decoration: none;
    font-size:  1.25rem;
}

.footer-col1{
    text-align: left;
}

.footer-col2{
    text-align: right;
}
.footernav-item {
    font-family: helveticaNeueReg;
    font-weight: 400;
    letter-spacing: 0.1rem;
    font-size: 1.25rem;
    margin-right: 1rem;
    text-decoration: none;
}

.nav-item-bottom-margin {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    margin-right: 1rem;
    margin-bottom: 4rem;
    display: block;
}
.nav-item-alt {
    font-family: helveticaNeueReg;
    font-weight: 400;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    margin-right: 1rem;
    color: white;
}
.about-link {
    font-family: helveticaNeueReg;
    font-weight: 400;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    color: white;
    margin-left: 0;
    margin-right: 1rem;
}
.alternate-h1 {
    color: white;
    max-width: 40rem;
}
/*End user settings to migrate to Sass*/

.photography-grid{
    padding-left: 2.5rem;
}

.photography-grid-sizer,
.photography-grid-item{
    width:33%;
    border: 1px solid black;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5rem;
}
.grid-about {
    display: grid;
    grid-template-columns: 1.45fr .55fr;
    /*border: 1px solid white;*/
}


.grid-wrapper {
    display: flexbox;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
}
.grid-item img {
    padding: 0.5rem;
    display: block;
    vertical-align: middle;
    max-width: 100%;
}

.column {
    flex: 33%;
    max-width: 33%;
    padding: 0.5rem;
}
.gridmason-alpha {
    display: none;
    position: absolute;
    background-color: black;
    width: 100%;
    height: 300%;
    opacity: 0.9;
    top: 0;
    left: 0;
    text-align: center;
}
.gridmason-alpha:hover {
    cursor: zoom-out;
}
.grid-item.item-opened {
    width: 90%;
    height: 90vw;
    filter: brightness(100%);
}
/*.introp1 {
    display: none;
}
.introp2 {
    border: 1px solid white;
    width: 33%;
    display: none;
    visibility: hidden;
}
.introp3 {
    border: 1px solid white;
    width: 33%;
    display: none;
}
.introp4 {
    border: 1px solid white;
    width: 33%;
    display: none;
}
*/
.about-paragraph {
    color: white;
    margin-left: 0;
    max-width: 32rem;
    margin-top: 2rem;
}
.project-title {
    margin-bottom: 1.5rem;
}
.project-subtitle {
    margin-top: 0.5rem;
}
/*depreciated*/

.intronew {
    /*margin-top: 10%;*/
    max-width: 100%;
    font-family:helveticaNeueReg;
}

.aboutlinkmail {
    color: white;
    text-decoration: underline;
}
.main-section {
    margin-top: 5%;
    margin-bottom: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.project-component {
    display: inline-block;
    text-decoration: none;
    color: #231f20;
    background-color: white;
    padding: 2rem;
    margin: 1rem;
    width: 100%;
    max-width: 35rem;
    height: 20rem;
    box-shadow: 1px 3px 10px #c1c1c0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.project-component:hover,
.project-component:active,
.project-component:focus {
    color: white;
    /*background-color: blue;*/
    opacity: 0.9;
    cursor: crosshair;
}
.videography:hover {
    background: #cc5500;
}
.expdes:hover {
    background: #b81f97;
}
.prototyping:hover {
    background: blue;
}
.artdirection:hover {
    background: #228b22;
}
/*show hide on hover*/
/*#glass:hover{
    background:url("../img/glass/glass.gif")no-repeat;
}*/
.full-bleed {
    width: 100%;
    height: 15%;
    margin: 0 0 2rem 0;
}
.detail-intro {
    font-size: 1.3rem;
    line-height: 2.2rem;
    max-width: 42rem;
}

.problem-scope {
	margin-bottom: 1rem;
    font-family:helveticaNeueItal;
    font-size: 1rem;
}

.main-content {
    max-width: 45rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.main-content-gallery {
    border:1px solid black;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
.within-content {
    width: 100%;
    height: 100%;
    margin-bottom: 6rem;
}
.within-content-shadow {
    width: 100%;
    height: 100%;
    margin-bottom: 6rem;
    box-shadow: 1px 3px 10px #c1c1c0;
}
.within-content-double {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
}
.within-content-double-shadow {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    box-shadow: 1px 3px 10px #c1c1c0;
}
@media screen and (max-width: 95.62rem) {
    .grid {
        grid-template-columns:1fr 1fr 1fr;
        grid-column-gap: 1rem;
    }
    .column {
        flex: 50%;
        max-width: 50%;
        padding: 0.5rem;
    }
}

@media screen and(max-width:50.25rem){
.grid{
grid-template-columns: 1fr 1fr;
grid-column-gap: 1rem;
    }
}
@media screen and (max-width: 46.25rem) {
    .main-content {
        padding-left: 1rem;
    }
    .grid-about {
        display: grid;
        grid-template-columns: 1fr;
    }
.grid{
grid-template-columns: 1fr 1fr;
grid-column-gap: 1rem;
    }
    .col2 {
        display: none;
    }
}
@media screen and (max-width: 32rem) {
    section {
        margin: 2rem;
    }
    .grid {
        grid-template-columns: 1fr;
        max-width: 100%;
    }
}
@media screen and (max-width: 24rem) {
    section {
        margin: 2rem;
    }
    .index2h1{
    font-size: 3.0rem;
}

.itemgrid{
    padding-top: 2.5rem;
    display:grid;
    grid-template-columns:1fr;
}
.indexMenuItem{
    padding-left: 2rem;
    /*border-bottom:1px solid black;*/
}
.col2{
    display:hidden ;
}
    .grid {
        grid-template-columns: 1fr;
        max-width: 100%;
    }
    .main-content {
        padding-left: 1rem;
    }
    .column {
        flex: 100%;
        max-width: 100%;
        padding: 0.5rem;
    }
    .project-title {
        margin-left: 0;
    }
    h1 {
        margin-left: 1rem;
    }
    p {
        margin-bottom: 4rem;
    }
    .project-component {
        margin: 1rem;
        width: 90%;
        color: #231f20;
        background-color: #ffffff;
    }
    .about-paragraph {
        margin-left: 1rem;
        /*width:10000rem;*/
    }
    .about-link {
        margin-left: 1rem;
        margin-right: 0;
    }
    .main-section {
        margin-left: 0rem;
        margin-right: 0;
    }
}
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-top: 2rem;
    margin-bottom: 6rem;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    border-style: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.rightset {
    text-align: right;
}