*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    /*margin-left: 1rem;*/
    /*border: 1px solid black;*/
}
h2,
h3 {

}
a,
body {
    color: #231f20;
    text-decoration:    none;
    overflow-x: hidden;
    transition: background-image 0.5s ease;
}


blockquote{
    margin:2.5rem;
    font-size:2rem;
}
h1,
li {
    border: 1px pink;
    margin-bottom: 0.6rem;
}

ol{
    width:90%;
    letter-spacing: 0.05rem;
    line-height: 1.7rem;
}
html {
    overflow-y: scroll;
}
body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

@font-face {
    font-family: helveticaNeueReg;
    src: url(HelveticaNeue-Regular.otf);
}
@font-face {
    font-family: helveticaNeueLight;
    src: url(HelveticaNeue-Light.otf);
}
@font-face {
    font-family: helveticaNeueItal;
    src: url(HelveticaNeue-RegularItalic.otf);
}
@font-face {
    font-family: helveticaNeueBold;
    src: url(HelveticaNeue-Bold.otf);
}

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}


.title{
    font-family: helveticaNeueuBold;
    font-size:1rem;
}

.subhtitle{
    font-family: "Instrument Serif", serif;
    font-style:italic;
}

.nproject{
    /*border:     1px solid pink;*/
    margin:     auto;
    max-width:  55rem;
    font-size:  1.0rem;
    font-family: helveticaNeueLight;
    margin-bottom:  1.56rem; 
}

.cards{
    /*border: 1px solid blue;*/
    display:flex;
    justify-content: flex-start;
    grid-gap: 1rem;
}

.card {
  /*border: 1px solid black;*/
  width:22.25%;

}

.card:hover{
    transform: translateY(-20px);
    transition: 0.22s ease;
}

.subheading{
    border: 1px solid black;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.image_container{
    border: 1px solid violet;
    overflow:hidden;
    object-fit: cover;
}

.header-nav {
    /*border:     1px solid black;*/
    text-decoration:    none;
    text-align: right;
    margin: 1rem;
    padding-left: 2rem;
    padding-bottom:     3.2rem;

}

.header-nav a{
    padding-left:   1.0rem;
}

.header-nav a:hover{
opacity:66.6666666%;    
}

.intronew {
    max-width: 100%;
}

.titleProject{
    display:inline-flex;
    flex-wrap: wrap;
    /*margin-left: 1rem;*/
    margin-right: 2rem;
    grid-gap:0 1rem;
}

.main-section {
    margin: 0rem 2rem 5rem;
/*border:1px solid black;*/
}


.p-cat {
    
    border-bottom:  2px solid black

}

.p-name a{
    text-decoration: none;

}

.pwrapper 
{
    margin:auto;
    max-width:  90rem;
}


.intronew{
    padding-top: 1rem;
}

.index2h1 
{
    margin-left: 5rem;
    max-width:  65rem;
    font-size:  3.0rem;
    font-family: helveticaNeueLight;
    margin-bottom:  3rem;
}

.nindex2h1 
{
    margin:     auto;
    max-width:  65rem;
    font-size:  3.0rem;
    font-family: "Instrument Serif", serif;
    margin-bottom:  3rem;
}

.cta{
    margin-left: 5rem;
    /*border: 1px solid green;*/
    max-width:  55rem;
    font-size:  2.1rem;
    font-family: helveticaNeueLight;
    margin-bottom: 2rem;
}

.ncta{
    /*margin:     auto;*/
    max-width:  55rem;
    font-size:  2.1rem;
    font-family: helveticaNeueLight;
    margin-bottom: 2rem;
}

.abstract {
}


@media screen and (max-width:45rem){
    .cards{
    flex-direction: column;
    }
    .card{
        width:100%;
    }
    .subheading{
    border: 1px solid red;
    flex-direction: column;
}
}

@media screen and (max-width:25rem){
    .cards{
    flex-direction: column;
    }
    .card{

        width:100%;
        height:25%;
    }
    .image_container{
        visibility: collapse;
    }
    .subheading{
    border: 1px solid red;
    
}
}